.container {
    margin: auto;
    padding:0px 100px 0px;
	max-width:1020px;
	
}

.section-content {
	flex:6;
	
}



header {
	
	border-bottom-style : dotted;
	border-bottom-color: #e1e1e1;
	
}


.bold{
	font-weight:bold;

	
}



section {
	
	border-bottom-style : dotted;
	border-bottom-color: #e1e1e1;
	display:flex;
	
	
}
 


.blue{
	color:#3d85c6;
	
}



h3 {
	color:#5085c6;
	flex:1;
	
}

footer {
	text-align:center;
	
}