.center {
    margin: auto;
    padding-left:100px;
	padding-right:100px;
	max-width:1020px;
	
}


.with{
	width:120px;
	
}

header {
	border-bottom-style : dotted;
	border: 1 px;
	border-bottom-color: #e1e1e1;
	
}


.bold{
	font-weight:bold;

	
}

p {
	text-align:center-left;

}


section {
	border-bottom-style : dotted;
	border: 1 px;
	border-bottom-color: #e1e1e1;
	display:flex;
	
	
}
 
div{
	width: 100%;

	
}

.blue{
	color:#3d85c6;
	
}



h3 {
	color:#5085c6;
	flex:1;
	
}

footer {
	text-align:center;
	
}