div {
	width:1020 px;
	
	
}


section {
	border-bottom-style : dotted;
	border: 1 px;
	border-bottom-color: #e1e1e1;
	
	
}

#blue{
	color:#3d85c6;
	
}

#blue1{
	color:#3d85c6;
	
}


h3 {
	color:#5085c6;
	
}

footer {
	text-align:center;
	
}